.video {
  box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
  width: 100%;
  padding: 10px;
  margin: auto;
  border: 3px solid green;
  background-color: midnightblue;

}
.center {

    margin: auto;
    width: 60%;
    padding: 10px;
}

.download
{
    margin: auto;
    width: 70%;
    padding: 20px;
}


.row {
  -webkit-margin-top-collapse: 200px;
}

.service
{
background-color: #9370DB
}
