body { 
    background: no-repeat center center fixed #6FEAD9; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.well
{
background-color: 	#9370DB;
}