<app-header></app-header>

<section id="home" class="home">
        <div class="overlay all_overlay">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 ">
                <div class="main_home_slider text-center">
                  <div class="single_home_slider">
                    <div class="main_home wow fadeInUp">
                      <!-- <h4>Creative Recordings </h4>
                      <h1> Welcome to @k Recorder </h1> -->
      
                      <div class="whiteseparator"></div>
                      <div class="home_btn">
                            <button (click)="start(this)" class="btn btn-primary">Start Recording
                            </button>
                            <div class="modal-dialog" (click)="stop()" *ngIf="isListening">
                              <img src="../../../assets/mic_animation.gif" class="center"/>
                            </div>

                            <button (click)="stop(this)" class="btn btn-primary">Stop Recording</button>
                            <br><br><br>
                            <div class="bg">
                            <ul id="recordingslist" class="well"></ul>
                            </div>
                      </div>
      
                    </div>




                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </section>

<section id="about" class="about">
        <div class="container">
            <div class="row">
    
                <div class="main_about_area sections text-center">
                        
                        <div>
                                
                                </div>

                    </div>
                    </div>
                    </div>
                    </section>


<!-- 
<div>

</div>
<div>
Recordings
</div>
<div>
<ul id="recordingslist"></ul>
</div> -->

<app-footer></app-footer>




<!-- 
<div class="home_btn">
        <button (click)="start(this)" class="btn btn-primary">Start Recording</button>
        <button (click)="stop(this)" class="btn btn-primary">Stop Recording</button>
</div> -->
