<app-header></app-header>

<section id="home" class="home">
  <div class="overlay all_overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="main_home_slider text-center">
            <div class="single_home_slider">
              <div class="main_home wow fadeInUp">
                <h4>Creative Recordings </h4>
                <h1> Welcome to @k Recorder </h1>

                <div class="whiteseparator"></div>
                <div class="home_btn">
                  <a routerLink="/video" routerLinkActive="active" class="btn btn-primary">Contect Us</a>
                </div>

              </div>
            </div>
            <div class="single_home_slider">
              <div class="main_home wow fadeInUp">
                <h4>Creative Recordings</h4>
                <h1>Welcome to MoGo</h1>
                <div class="whiteseparator"></div>

                <div class="home_btn">
                    <a routerLink="/video" routerLinkActive="active" class="btn btn-primary">Contect Us</a>
                </div>

              </div>
            </div>
            <div class="single_home_slider">
              <div class="main_home wow fadeInUp">
                <h4>Creative Recordings</h4>
                <h1>Welcome to MoGo</h1>
                <div class="whiteseparator"></div>
                <div class="home_btn">
                    <a routerLink="/video" routerLinkActive="active" class="btn btn-primary">Contect Us</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>