<app-header></app-header>
<section id="about" class="about">
    <div class="container">
        <div class="row">

            <div class="main_about_area sections text-center">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="head_title text-center">
                        <h4 class="subtitle">what we do?</h4>
                        <h2>Story about us</h2>
                        <div class="separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                    </div>

                    <div class="main_about_content">
                        <div class="col-sm-4 col-xs-12">
                            <div class="single_about">
                                <div class="single_about_img">
                                    <img src="assets/images/ab1.jpg" alt="" />
                                </div>
                                <div class="single_about_img_overlay all_overlay">
                                    <a href=""><i class="fa fa-users"></i>
                                        <p>super team</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="single_about">
                                <div class="single_about_img">
                                    <img src="assets/images/ab2.jpg" alt="" />
                                </div>
                                <div class="single_about_img_overlay all_overlay">
                                    <a href=""><i class="fa fa-users"></i>
                                        <p>super team</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="single_about">
                                <div class="single_about_img">
                                    <img src="assets/images/ab3.jpg" alt="" />
                                </div>
                                <div class="single_about_img_overlay all_overlay">
                                    <a href=""><i class="fa fa-users"></i>
                                        <p>super team</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
